[Unit]
Description=Watches Bluetooth for Volume Change
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /usr/local/bin/volume-watcher.py
ExecStop=/bin/kill -9 $MAINPID
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=volume-watcher.service
